@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap");

html {
  font-family: "Pixelify Sans", cursive;
}
body {
  background-color: #000;
  background-size: cover;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container a {
  color: #fbf;
  text-decoration: none, underline;
  cursor: pointer;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  font-size: 50px;
}
.container a:hover {
  color: #ffffff;
  text-decoration: none, underline;
}

.w3rcontainer {
  border: 1px solid #cccfdb;
  border-radius: 2px;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 10px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

h1,
h2,
h3 {
  font-size: 50px;
  padding: 15px;
  text-decoration: underline;
  color: #fbf;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.articel {
  display: flex;
  flex-direction: wrap;
}

/* This is the animation for the img to rotate */
img {
  position: absolute;
  top: 15%;
  left: 45%;

  animation: rotation 2s infinite linear;
}
.rotate {
  animation: rotation 2s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
